body{
  background-color: white;
}
.textF{
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding-left: -10px;
}
#textdes{
  text-transform: lowercase;
}
.boxF{


  padding: 20px;
}
.titre{
  text-align: center;
}
#op{

  margin: auto;
  height: 200px;
}
.background{
  background-color: #fff;
}
.op2{
  width: 500px;
}
